<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GraphQL.Client" version="6.0.2" manuallyInstalled="true" />
  <package id="GraphQL.Client.Abstractions" version="6.0.2" />
  <package id="GraphQL.Client.Abstractions.Websocket" version="6.0.2" />
  <package id="GraphQL.Client.Serializer.Newtonsoft" version="6.0.2" manuallyInstalled="true" />
  <package id="GraphQL.Primitives" version="6.0.2" />
  <package id="Newtonsoft.Json" version="13.0.3" manuallyInstalled="true" />
  <package id="SpeechLib.Recognition" version="1.6.0" manuallyInstalled="true" />
  <package id="SpeechLib.Synthesis" version="1.6.0" manuallyInstalled="true" />
  <package id="System.Reactive" version="6.0.0" />
</packages>